{% extends "ThemesBundle:Default:template.html.twig" %}

{% block bodyclass %}{% spaceless %}
    {{ vars.body_css }}
{% endspaceless %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>

    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        $(document).ready(function(){
            if ($('body').width() > 990) {
                $('.nav__primary').tmStickUp({correctionSelector: $('#menu_stick')});
            };
        });

        jQuery(function(){
            jQuery('#camera_wrap_0').camera({
                navigation: true,
                playPause: false,
                thumbnails: false,
                navigationHover: false,
                barPosition: 'top',
                loader: false,
                time: 3000,
                transPeriod:800,
                alignment: 'center',
                autoAdvance: true,
                mobileAutoAdvance: true,
                barDirection: 'leftToRight',
                barPosition: 'bottom',
                easing: 'easeInOutExpo',
                fx: 'simpleFade',
                height: '36.1%',
                minHeight: '250px',
                hover: true,
                pagination: false,
                loaderColor			: '#1f1f1f',
                loaderBgColor		: 'transparent',
                loaderOpacity		: 1,
                loaderPadding		: 0,
                loaderStroke		: 3,
            });
        });

        window.onload = function() {

            var mapelement = document.getElementById('map');

            if (mapelement) {

                function initialize() {

                    var locations = [
                        ['Solutecip', -12.1192666,-77.0290238, 2],
                        ['Solutecip', -12.1192666,-77.0290238, 1]
                    ];
                    var styles = [
                        {
                            "featureType": "landscape",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 65
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 51
                                },
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 30
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 40
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "administrative.province",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "lightness": -25
                                },
                                {
                                    "saturation": -100
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "hue": "#ffff00"
                                },
                                {
                                    "lightness": -25
                                },
                                {
                                    "saturation": -97
                                }
                            ]
                        }
                    ];

                    var styledMap = new google.maps.StyledMapType(styles,{name: "Styled Map"});
                    var map;
                    var marker, i;

                    var mapOptions = {
                        zoom: 15,
                        scrollwheel: false,
                        center: new google.maps.LatLng(-12.1192666,-77.0290238),
                        mapTypeControl: false,
                        panControl: true,
                        scaleControl: false,
                        streetViewControl: true,
                        mapTypeControlOptions: {
                            mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
                        }
                    };
                    google.maps.event.addDomListener(window, "resize", function() {
                        var center = map.getCenter();
                        google.maps.event.trigger(map, "resize");
                        map.setCenter(center);
                    });

                    map = new google.maps.Map(document.getElementById('map'),mapOptions);
                    map.mapTypes.set('map_style', styledMap);
                    map.setMapTypeId('map_style');
                    var markerImage = "{{ asset('bundles/themes/default/image/gmap_marker.png') }}";

                    infowindow = new google.maps.InfoWindow(),
                        markers = [];

                    for (i = 0; i < locations.length; i++) {

                        markers[i] = new google.maps.Marker({
                            map: map,
                            icon: markerImage,
                            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                            animation: null
                        });
                        // var contentString = 'Company Inc., 8901 Marmora Road, Glasgow, D04 89GR';
                        var contentString = 'Lima';
                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });
                        google.maps.event.addListener(markers[i], "click", function() {
                            infowindow.open(map, this);
                        });
                    }
                }

                initialize();
            }};


        $(document).ready(function() {
            $(".quickview").fancybox({
                maxWidth	: 800,
                maxHeight	: 600,
                fitToView	: false,
                width		: '70%',
                height		: '70%',
                autoSize	: false,
                closeClick	: false,
                openEffect	: 'elastic',
                closeEffect	: 'elastic',

            });
        });

        jQuery(document).ready(function() {
            jQuery("#parallax_0 > div").cherryFixedParallax({
                invert: false,
            });
        });

    </script>

{% endblock %}

{% block content %}

    <div class="header_modules">

        <div class="fluid_container" >
            <div class="camera_container">
                <div id="camera_wrap_0">
                    <div
                        title="slide-1"
                        data-thumb="{{ asset('bundles/themes/default/image/slide/slide-1-2050x740.jpg') }}"
                        data-src="{{ asset('bundles/themes/default/image/slide/slide-1-2050x740.jpg') }}">
                        <div class="camera_caption fadeIn">
                            <div>
                                <h1>Find wheels & tyres</h1>
                                <h2>For all vehicle types</h2>
                            </div>
                        </div>
                    </div>
                    <div
                        title="slide-2"
                        data-thumb="{{ asset('bundles/themes/default/image/slide/slide-2-2050x740.jpg') }}"
                        data-src="{{ asset('bundles/themes/default/image/slide/slide-2-2050x740.jpg') }}">
                        <div class="camera_caption fadeIn">
                            <div>
                                <h1>Your wheels are in</h1>
                                <h2>Good hands!</h2>
                            </div>
                        </div>
                    </div>
                    <div
                        title="slide-3"
                        data-thumb="{{ asset('bundles/themes/default/image/slide/slide-3-2050x740.jpg') }}"
                        data-src="{{ asset('bundles/themes/default/image/slide/slide-3-2050x740.jpg') }}">
                        <div class="camera_caption fadeIn">
                            <div>
                                <h1>Custom Wheels & Rims</h1>
                                <h2>It's all about style and performance</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="banner0" class="banners">
            <div class="col-sm-4">
                <div class="banner-box">
                    <a class="clearfix" href="xxx">
                        <img
                            src="{{ asset('bundles/themes/default/image/catalog/banner-1-663x370.png') }}"
                            alt="banner-1"
                            class="img-responsive" />

                        <div class="s-desc">
                            <h1>Winter</h1>
                            <h2>Tires</h2>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            <span class="banner_button">
                            <span>See all winter tyres</span>
                                <i class="fa fa-chevron-right "></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="banner-box">
                    <a class="clearfix" href="xxxx">
                        <img
                            src="{{ asset('bundles/themes/default/image/catalog/banner-2-663x370.png') }}"
                            alt="banner-2"
                            class="img-responsive" />

                        <div class="s-desc">
                            <h1>Summer</h1>
                            <h2>Tires</h2>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            <span class="banner_button">
                            <span>See all winter tyres</span>
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="banner-box">
                    <a class="clearfix" href="xxx">
                        <img
                            src="{{ asset('bundles/themes/default/image/catalog/banner-3-663x370.png') }}"
                            alt="banner-3"
                            class="img-responsive" />

                        <div class="s-desc">
                            <h1>Custom</h1>
                            <h2>Wheels</h2>
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            <span class="banner_button">
                            <span>See all winter tyres</span>
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="container">
        <div class="container">
            <div class="row">
                <div id="content" class="col-sm-12">
                    <div class="box_html brand">
                        <div class="box brand">
                            <div class="box-content">

                                <ul class="owl-carousel owl-theme" id="owl-example2">
                                    <li>
                                        <a href="xxx">
                                            <img
                                                alt="image-brand-1"
                                                src="{{ asset('bundles/themes/default/image/catalog/brand-1.png') }}">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <img
                                                alt="image-brand-2"
                                                src="{{ asset('bundles/themes/default/image/catalog/brand-2.png') }}">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <img
                                                alt="image-brand-3"
                                                src="{{ asset('bundles/themes/default/image/catalog/brand-3.png') }}">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <img
                                                alt="image-brand-4"
                                                src="{{ asset('bundles/themes/default/image/catalog/brand-4.png') }}">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <img
                                                alt="image-brand-5"
                                                src="{{ asset('bundles/themes/default/image/catalog/brand-5.png') }}">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <img
                                                alt="image-brand-6"
                                                src="{{ asset('bundles/themes/default/image/catalog/brand-6.png') }}">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    {#FEATURED PRODUCTS#}
                    <div class="box featured">

                        <div class="box-heading">
                            <h3>
                                Productos Destacados
                            </h3>
                        </div>

                        <div class="box-content">
                            <div class="product-layout">

                                {% for product in products %}

                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">

                                        <div class="product-thumb transition">

                                            <span class="stickers">
                                                <span class="sale">Sale!</span>
                                            </span>

                                            <a class="quickview" data-rel="details" href="#quickview_{{ loop.index }}">
                                                Vista r&aacute;pida
                                            </a>

                                            <div class="quick_info">
                                                <div id="quickview_{{ loop.index }}">
                                                    <div>
                                                        <div class="left col-sm-4">
                                                            <div class="quickview_image image">
                                                                <a href="{{ path('frontend_product_detail', {slug: product.slug}) }}">
                                                                    {% if product.files|first is empty %}
                                                                        <img
                                                                            alt="{{ product.name }}"
                                                                            title="{{ product.name }}"
                                                                            class="img-responsive"
                                                                            src="{{ asset('bundles/themes/default/image/catalog/default-270x270.png') }}" />
                                                                    {% else %}
                                                                        <img
                                                                            alt="{{ product.name }}"
                                                                            title="{{ product.name }}"
                                                                            class="img-responsive"
                                                                            src="{{ asset(product.files|first) }}" />
                                                                    {% endif %}
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="right col-sm-8">

                                                            <h2>
                                                                {{ product.description_short }}
                                                            </h2>

                                                            <div class="inf">
                                                                <p class="quickview_manufacture manufacture manufacture">
                                                                    Marca: <a href="xxx">{{ product.brand.name }}</a>
                                                                </p>
                                                                <p class="product_model model">
                                                                    Modelo: {{ product.model }}
                                                                </p>
                                                                <div class="price">
                                                                    <span class="price-new">
                                                                        S/ {{ product.price }}
                                                                    </span>
                                                                    <span class="price-old">
                                                                        S/ {{ product.price + 36.78 }}
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div class="cart-button">
                                                                <button
                                                                    class="btn btn-icon"
                                                                    type="button"
                                                                    data-toggle="tooltip"
                                                                    title="Agregar al Wish List"
                                                                    onclick="wishlist.add('41');">
                                                                    <i class="fa fa-heart"></i>
                                                                </button>
                                                                <button
                                                                    class="btn btn-icon"
                                                                    type="button"
                                                                    data-toggle="tooltip"
                                                                    title="Comparar este Producto"
                                                                    onclick="compare.add('41');">
                                                                    <i class="fa fa-exchange"></i>
                                                                </button>
                                                                <button
                                                                    class="btn btn-icon btn-add"
                                                                    type="button"
                                                                    data-toggle="tooltip"
                                                                    title="Agregar a carrito"
                                                                    onclick="cart.add('41');">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </button>
                                                            </div>

                                                            <div class="clear"></div>

                                                            <div class="rating">
                                                                <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x active"></i>
                                                                </span>
                                                                    <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x active"></i>
                                                                </span>
                                                                    <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x active"></i>
                                                                </span>
                                                                    <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x active"></i>
                                                                </span>
                                                                    <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-2x"></i>
                                                                </span>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12">
                                                            <div class="quickview_description description">
                                                                <iframe
                                                                    src="https://www.youtube.com/embed/3DGc0_EKStY?rel=0&amp;controls=0&amp;showinfo=0"
                                                                    allowfullscreen=""
                                                                    frameborder="0"
                                                                    height="315"
                                                                    width="560">
                                                                </iframe>
                                                                {{ product.description_long|raw }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="image">
                                                <a href="{{ path('frontend_product_detail', {slug: product.slug}) }}">
                                                    {% if product.files|first is empty %}
                                                        <img
                                                            alt="Lorem ipsum"
                                                            title="Lorem ipsum"
                                                            class="img-responsive"
                                                            src="{{ asset('bundles/themes/default/image/catalog/default-270x270.png') }}" />
                                                    {% else %}
                                                        <img
                                                            alt="Lorem ipsum"
                                                            title="Lorem ipsum"
                                                            class="img-responsive"
                                                            src="{{ asset(product.files|first) }}" />
                                                    {% endif %}
                                                </a>
                                            </div>

                                            <div class="caption">
                                                <div class="name">
                                                    <a href="{{ path('frontend_product_detail', {slug: product.slug}) }}">
                                                        {{ product.name }}
                                                    </a>
                                                </div>
                                                <div class="rating">
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-2x active"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-2x active"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-2x active"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-2x active"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-2x"></i>
                                                    </span>
                                                </div>
                                                <div class="price">
                                                    <span class="price-new">
                                                        S/ {{ product.price }}
                                                    </span>
                                                    <span class="price-old">
                                                        S/ {{ product.price + 36.78 }}
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="cart-button">
                                                <button
                                                    class="btn btn-icon btn-add"
                                                    type="button"
                                                    data-toggle="tooltip"
                                                    title="Add to Cart"
                                                    onclick="cart.add('41');">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </button>

                                                <a class="btn btn-primary" href="{{ path('frontend_product_detail', {slug: product.slug}) }}">
                                                    <span>
                                                        <i class="fa fa-chevron-right"></i> Detalles
                                                    </span>
                                                </a>
                                            </div>

                                            <div class="clear"></div>
                                        </div>
                                    </div>

                                {% endfor %}

                                <div class="clear"></div>

                            </div>
                        </div>
                    </div>
                    {#FEATURED PRODUCTS#}


                    <div id="parallax_0" class="parallax" >

                        <div data-source-url="{{ asset('bundles/themes/default/image/catalog/parallax-1-2050x1450.jpg') }}" class="parallax-1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3>Nuestros <span>servicios</span></h3>

                                        <div class="row">

                                            <div class="col-sm-6">

                                                <div class="services-box">
                                                    <span class="drop">01</span>
                                                    <p>
                                                        <a href="xxx">
                                                            Excepteur sint occaecat
                                                        </a>
                                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                    </p>
                                                </div>

                                                <div class="services-box">
                                                    <span class="drop">02</span>
                                                    <p>
                                                        <a href="xxx">
                                                            Excepteur sint occaecat
                                                        </a>
                                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                    </p>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">

                                                <div class="services-box">
                                                    <span class="drop">03</span>
                                                    <p>
                                                        <a href="xxxx">
                                                            Excepteur sint occaecat
                                                        </a>
                                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                    </p>
                                                </div>

                                                <div class="services-box">
                                                    <span class="drop">04</span>
                                                    <p>
                                                        <a href="xxx">
                                                            Excepteur sint occaecat
                                                        </a>
                                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                    </p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="content_bottom"></div>

    <div class="box_html map">
        <div id="map"></div>
    </div>

{% endblock %}