{% import "ThemesBundle::Default/Macro/html.html.twig" as html %}

{% import "ThemesBundle::Default/Macro/head.html.twig" as head %}
{% import "ThemesBundle::Adminlte/Macro/bi3d.html.twig" as bi3d %}
{% import "ThemesBundle::Adminlte/Macro/twitter.html.twig" as twitter %}
{% import "ThemesBundle::Adminlte/Macro/open_graph.html.twig" as og %}

{% spaceless %}

{# https://livedemo00.template-help.com/opencart_53498 #}

<!DOCTYPE html>

<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html dir="ltr" lang="en"><!--<![endif]-->

<head>

    {{ head.meta_default() }}
    {{ head.favicon() }}
    {{ head.canonical() }}

    {% block seo %}
        {% block head %}

            {#para copiar en otras paginas#}
            {{ head.title() }}
        {% endblock %}

        {% block twitter %}
            {{ twitter.card() }}

            {#para copiar en otras paginas#}
            {#{{ twitter.title() }}#}
            {#{{ twitter.description() }}#}
            {#{{ twitter.image() }}#}
        {% endblock %}

        {% block open_graph %}
            {{ og.default() }}
            {{ og.url() }}

            {#para copiar en otras paginas#}
            {#{{ og.title() }}#}
            {#{{ og.description() }}#}
            {#{{ og.image() }}#}
        {% endblock %}

        {% block bi3d %}
            {#para copiar en otras paginas#}
            {#{{ bi3d.art_id() }}#}
            {#{{ bi3d.section() }}#}
            {#{{ bi3d.art_title() }}#}
            {#{{ bi3d.pub_date() }}#}
        {% endblock %}
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets
            filter='cssrewrite'
            'bundles/themes/default/css/bootstrap.min.css'
            'bundles/themes/default/css/font-awesome.min.css'
            '@ThemesBundle/Resources/public/default/css/jquery.fancybox.css'
            '@ThemesBundle/Resources/public/default/css/owl-carousel/owl.carousel.css'
            '@ThemesBundle/Resources/public/default/css/livesearch.css'
            '@ThemesBundle/Resources/public/default/css/photoswipe.css'
            '@ThemesBundle/Resources/public/default/css/jquery.bxslider.css'
            'bundles/themes/default/css/stylesheet.css'
            '@ThemesBundle/Resources/public/default/css/superfish.css'
            '@ThemesBundle/Resources/public/default/css/responsive.css'
            '@ThemesBundle/Resources/public/default/css/parallax.css'
            'bundles/themes/default/css/camera.css'
            '@ThemesBundle/Resources/public/default/css/owl-carousel/owl.carousel.css'
            '@ThemesBundle/Resources/public/default/css/owl-carousel/owl.transitions.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'>
        <a href="https://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode">
            <img src="https://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
    <![endif]-->

    </head>

    <body class="">

        {#SWIPE MENU#}
        <div class="swipe">
            <div class="swipe-menu">

                <ul>
                    <li>
                        <a href="xxx" title="My Account">
                            <i class="fa fa-user"></i>
                            <span>My Account</span>
                        </a>
                    </li>
                    <li>
                        <a href="xxx">
                            <i class="fa fa-user"></i> Crear una cuenta
                        </a>
                    </li>
                    <li>
                        <a href="xxxx">
                            <i class="fa fa-lock"></i>Login
                        </a>
                    </li>
                    <li>
                        <a href="xxx" id="wishlist-total2" title="Wish">
                            <i class="fa fa-heart"></i>
                            <span>Wish List</span>
                        </a>
                    </li>
                    <li>
                        <a href="xxx" title="Shopping Cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Shopping Cart</span>
                        </a>
                    </li>
                    <li>
                        <a href="xxx" title="Checkout">
                            <i class="fa fa-share"></i>
                            <span>Checkout</span>
                        </a>
                    </li>
                </ul>

                <ul class="foot">
                    <li>
                        <a href="xxx">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="xxx">
                            Delivery
                        </a>
                    </li>
                    <li>
                        <a href="xxxx">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="xxxx">
                            Terms &amp; Conditions
                        </a>
                    </li>
                </ul>

                <ul class="foot foot-1">
                    <li>
                        <a href="xxx">
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <a href="xxx">
                            Returns
                        </a>
                    </li>
                    <li>
                        <a href="xxx">
                            Site Map
                        </a>
                    </li>
                </ul>

                <ul class="foot foot-2">
                    <li>
                        <a href="xxx">
                            Brands
                        </a>
                    </li>
                    <li>
                        <a href="xxx">
                            Gift Vouchers
                        </a>
                    </li>
                    <li>
                        <a href="xxx">
                            Affiliates
                        </a>
                    </li>
                    <li>
                        <a href="xxx">
                            Specials
                        </a>
                    </li>
                </ul>
                <ul class="foot foot-3">
                    <li>
                        <a href="xxx">
                            Order History
                        </a>
                    </li>
                    <li>
                        <a href="xxx">
                            Newsletter
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {#SWIPE MENU#}


        <div id="page">

            <div class="shadow"></div>

            <div class="toprow-1">
                <a class="swipe-control" href="#">
                    <i class="fa fa-align-justify"></i>
                </a>
            </div>

            <nav id="top" class="clearfix">
                <div class="container">
                    <div class="top-panel"></div>

                    <div class="top-button">
                        <div class="box-currency">

                            <form
                                action="xxx"
                                method="post"
                                enctype="multipart/form-data" id="currency">

                                <div class="btn-group">
                                    <span class="dropdown-toggle" data-toggle="dropdown">
                                        $ <span class="hidden-xs hidden-sm hidden-md hidden">Currency</span>
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    <ul class="dropdown-menu  pull-right">
                                        <li>
                                            <button class="currency-select" type="button" name="EUR">
                                                € Euro
                                            </button>
                                        </li>
                                        <li>
                                            <button class="currency-select" type="button" name="GBP">
                                                £ Pound Sterling
                                            </button>
                                        </li>
                                        <li>
                                            <button class="currency-select" type="button" name="USD">
                                                $ US Dollar
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <input type="hidden" name="code" value="" />
                                <input type="hidden" name="redirect" value="xxx" />
                            </form>

                        </div>

                        <div class="pull-right box-language">

                            <form action="xxx" method="post" enctype="multipart/form-data" id="language">
                                <div class="btn-group pull-right">
                            <span class="dropdown-toggle" data-toggle="dropdown">
                                <img class="hidden" src="{{ asset('bundles/themes/default/image/flags/gb.png') }}" alt="English" title="English">
                                en
                                <span class="hidden-xs hidden-sm hidden-md hidden">Language</span>
                                    <i class="fa fa-angle-down"></i>
                                </span>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="en">
                                                <img class="hidden" src="{{ asset('bundles/themes/default/image/flags/gb.png') }}" alt="English" title="English" /> English
                                            </a>
                                        </li>
                                        <li>
                                            <a href="de">
                                                <img class="hidden" src="{{ asset('bundles/themes/default/image/flags/de.png') }}" alt="Deutsch" title="Deutsch" /> Deutsch
                                            </a>
                                        </li>
                                        <li>
                                            <a href="ru">
                                                <img class="hidden" src="{{ asset('bundles/themes/default/image/flags/ru.png') }}" alt="Русский" title="Русский" /> Русский
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <input type="hidden" name="code" value="" />
                                <input type="hidden" name="redirect" value="xxx" />
                            </form>
                        </div>
                    </div>
                </div>
            </nav>

            <header>
                <div class="container">
                    <div id="logo">
                        <a href="{{ path('frontend_default_index') }}">
                            <img
                                src="{{ asset('bundles/themes/default/image/logo.png') }}"
                                title="Tyres"
                                alt="Tyres"
                                class="img-responsive" />
                        </a>
                    </div>
                    <div class="box-right">
                        <div class="box-cart">
                            <div id="cart">

                                <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="dropdown-toggle">
                                    <i class="fa fa-shopping-cart"></i>
                                    <strong>Cart: </strong>
                                    <span id="cart-total"> 0 item(s) </span>
                                    <span id="cart-total2">0</span>
                                </button>

                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <p class="text-center">Your shopping cart is empty!</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="log-button">
                            <a href="xxx">
                                <i class="fa fa-unlock-alt"></i>
                                <span>Login</span>
                            </a>
                            <a href="xxx" title="Create an account">
                                <i class="fa fa-user"></i>
                                <span>Crea una cuenta</span>
                            </a>
                        </div>
                    </div>
                </div>
            </header>

            <div class="nav__primary">
                <div class="container">
                    <div class="menu-shadow">
                        <div id="menu-gadget">
                            <div id="menu-icon">Categorías</div>
                            {{ tianos_category_tree() }}
                        </div>

                        <div id="top-links" class="nav">
                            <ul class="list-inline">
                                <li class="first">
                                    <a href="xxx" title="Home">
                                        <i class="fa fa-home"></i>
                                        <span>Inicio</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="xxx" id="wishlist-total" title="Wish List">
                                        <i class="fa fa-heart"></i>
                                        <span>Wish List <span>0</span></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="xx" title="My Account">
                                        <i class="fa fa-user"></i>
                                        <span>Mi Cuenta</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="xxx" title="Shopping Cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>Carrito de compras</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="xxx" title="Checkout">
                                        <i class="fa fa-share"></i>
                                        <span>Checkout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div id="search">
                            <input type="text" name="search" value="" placeholder="" />
                            <i class="fa fa-search"></i>
                            <button type="button" class="button-search">
                                <i class="fa fa-angle-double-right"></i>
                            </button>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>

                    </div>
                </div>
            </div>

            <p id="back-top">
                <a href="#top">
                    <i class="fa fa-angle-up"></i>
                </a>
            </p>

            {% block content %}

            {% endblock %}

            <div class="box_html top-info">
                <div class="top-block">
                    <i class="fa fa-thumbs-o-up"></i>
                    <p>
                        <a href="xxx">
                            satisfacción<br> 100% Garantizado
                        </a>
                    </p>
                </div>

                <div class="top-block">
                    <i class="fa fa-truck"></i>
                    <p>
                        <a href="xxx">
                            Envío gratis<br> en pedidos superiores a $ 99
                        </a>
                    </p>
                </div>

                <div class="top-block">
                    <i class="fa fa-refresh"></i>
                    <p>
                        <a href="xxx">
                            7 Días<br> Fácil retorno
                        </a>
                    </p>
                </div>
            </div>

            <footer>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="footer_box">
                                <h5>Información</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="{{ path('pages_default_aboutus') }}">
                                            <i class="fa fa-angle-right"></i> Nosotros
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Entrega
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Política de privacidad
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Términos &amp; Condiciones
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="footer_box">
                                <h5>Customer Service</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Contáctenos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Devoluciones
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Site Map
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="footer_box">
                                <h5>Extras</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Marcas
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Gift Cards
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Afiliados
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Especiales
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="footer_box">
                                <h5>Mi cuenta</h5>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Mi cuenta
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Historial de pedidos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Lista de deseos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="xxx">
                                            <i class="fa fa-angle-right"></i> Newsletter
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <h5>Síguenos</h5>
                            <ul class="list-unstyled social">
                                <li>
                                    <a data-toggle="tooltip" title="Facebook" href="https://www.facebook.com/login">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tooltip" title="Twitter" href="https://twitter.com/">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tooltip" title="RSS" href="">
                                        <i class="fa fa-rss"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="copyright">
                                Powered By <a href="http://system.tianos.com">Tianos.com</a>
                                <br /> &copy; {{ "now"|date("Y") }}
                            </div>
                        </div>
                    </div>

                </div>
            </footer>

        </div>

    </body>

{% block javascripts %}

    {% javascripts
        '@ThemesBundle/Resources/public/default/js/jquery-2.1.1.min.js'
        '@ThemesBundle/Resources/public/default/js/bootstrap.min.js'
        '@ThemesBundle/Resources/public/default/js/common.js'
        '@ThemesBundle/Resources/public/default/js/tm-stick-up.js'
        '@ThemesBundle/Resources/public/default/js/jquery.unveil.js'
        '@ThemesBundle/Resources/public/default/js/jquery.bxslider.js'
        '@ThemesBundle/Resources/public/default/js/jquery.fancybox.js'
        '@ThemesBundle/Resources/public/default/js/jquery.elevatezoom.js'
        '@ThemesBundle/Resources/public/default/js/superfish.js'
        '@ThemesBundle/Resources/public/default/js/video/jquery.vide.min.js'
        '@ThemesBundle/Resources/public/default/js/video/jquery.touchSwipe.min.js'
        '@ThemesBundle/Resources/public/default/js/greensock/jquery.gsap.min.js'
        '@ThemesBundle/Resources/public/default/js/greensock/TimelineMax.min.js'
        '@ThemesBundle/Resources/public/default/js/greensock/TweenMax.min.js'
        '@ThemesBundle/Resources/public/default/js/greensock/jquery.scrollmagic.min.js'
        '@ThemesBundle/Resources/public/default/js/photo-swipe/klass.min.js'
        '@ThemesBundle/Resources/public/default/js/photo-swipe/code.photoswipe.jquery-3.0.5.js'
        '@ThemesBundle/Resources/public/default/js/photo-swipe/code.photoswipe-3.0.5.min.js'
        '@ThemesBundle/Resources/public/default/js/owl-carousel/owl.carousel.min.js'
        '@ThemesBundle/Resources/public/default/js/script.js'
        '@ThemesBundle/Resources/public/default/js/parallax/cherry-fixed-parallax.js'
        '@ThemesBundle/Resources/public/default/js/parallax/device.min.js'
        '@ThemesBundle/Resources/public/default/js/camera/camera.js'
        '@ThemesBundle/Resources/public/default/js/owl-carousel/owl.carousel.min.js'
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    <script src="https://maps.googleapis.com/maps/api/js?key={{ application_google_api_key }}&v=3.exp&signed_in=true"></script>

    <script type="text/javascript">

    </script>

{% endblock %}


</html>
{% endspaceless %}